.ScorerScreen {
  border: 1px solid green;
  background-color: lightgreen;
  margin: 0 auto;
  width: fit-content;

  &-teams {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2 {
      padding: 0 16px;
      margin: 0 auto;
      width: 50%;
      align-items: center;
    }
  }

  &-score {
    font-size: 150%;
  }
  &-timeouts {
    font-size: 90%;
  }

  ul,
  li {
    margin: 0 8px;
    padding: 0;
    list-style: none;
  }

  .cards,
  .flags {
    margin-top: 8px;
  }
}
